################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/E.Common/.vs/E.Common
/E.Common/E.Common/obj
/E.Common/E.Common/bin
/E.Common/E.Configurations/obj
/E.Common/E.Configurations/bin
/E.Common/E.Data/obj
/E.Common/E.Data/bin/Release
/E.Common/E.Data.MySql/obj
/E.Common/E.Data.MySql/bin/Release
/E.Common/E.Extensions/obj
/E.Common/E.Extensions/bin
/E.Common/E.Http/obj
/E.Common/E.Http/bin
/E.Common/E.IdentityGeneration/obj
/E.Common/E.IdentityGeneration/bin/Release
/E.Common/E.Interface/bin
/E.Common/E.Interface/obj
/E.Common/E.Logging/obj
/E.Common/E.Logging/bin/Release
/E.Common/E.Security/obj
/E.Common/E.Security/bin
/E.Common/E.Serializer/obj
/E.Common/E.Serializer/bin
/E.Common/E.Test.ConsoleApp/obj
/E.Common/E.Test.ConsoleApp/bin
/E.Common/E.Tester/obj
/E.Common/E.Tester/bin
/E.Common/Outputs
/E.Host/.vs/E.Host
/E.Host/E.Host/obj
/E.Host/E.Host/bin/Debug/netcoreapp2.0/win10-x64
/E.Host/E.Host.Services/obj
/E.Host/E.Host.Services/bin/Debug/netstandard2.0
/E.User/.vs/E.User
/E.User/E.User/obj
/E.User/E.User/bin/Debug/netstandard2.0
/E.User/E.User.Enumerations/obj
/E.User/E.User.Enumerations/bin/Debug/netstandard2.0
/E.User/E.User.Repository/obj
/E.User/E.User.Repository/bin/Debug/netstandard2.0
/E.User/E.User.Tester/obj
/E.User/E.User.Tester/bin/Debug/netcoreapp2.0
/NuPkg/E.Serializer.1.0.0.nupkg
/NuPkg/E.Security.1.0.0.nupkg
/NuPkg/E.Logging.1.0.0.nupkg
/NuPkg/E.Interface.1.0.0.nupkg
/NuPkg/E.IdentityGeneration.1.0.0.nupkg
/NuPkg/E.Http.1.0.0.nupkg
/NuPkg/E.Extensions.1.0.0.nupkg
/NuPkg/E.Data.MySql.1.0.0.nupkg
/NuPkg/E.Data.1.0.0.nupkg
/NuPkg/E.Configurations.1.0.0.nupkg
/NuPkg/E.Common.1.0.0.nupkg
