<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="Logs\internal-nlog.txt">

  <variable name="variable1"
            value="  
            ${newline} date：    ${date}  
            ${newline}level：    ${level}  
            ${newline}logger：   ${logger}  
            ${newline}machinename：  ${machinename}  
            ${newline}message：  ${message}  
            ${newline}appdomain：    ${appdomain}  
            ${newline}assembly-version： ${assembly-version}  
            ${newline}basedir：  ${basedir}  
            ${newline}callsite： ${callsite}  
            ${newline}callsite-linenumber：  ${callsite-linenumber}  
            ${newline}counter：  ${counter}  
            ${newline}nlogdir：  ${nlogdir}  
            ${newline}processid：    ${processid}  
            ${newline}processname：  ${processname}  
            ${newline}specialfolder：    ${specialfolder}  
            ${newline}stacktrace: ${stacktrace}${newline}" />

  <!-- define various log targets -->
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/Log ${shortdate}.txt" layout="${variable1}" />
    <target type="Database" name="database" connectionstring="Data source=192.168.1.163;Initial Catalog=OptionLog;Persist Security Info=True;User ID=sa;password=111;MultipleActiveResultSets=True">
      <commandText>
        INSERT INTO [dbo].[ELog]
        ([CreateTime]
        ,[Logger]
        ,[Level]
        ,[MachineName]
        ,[AppDomain]
        ,[AssemblyVersion]
        ,[BaseDir]
        ,[CallSite]
        ,[CallSiteLineNumber]
        ,[Counter]
        ,[ProcessId]
        ,[ProcessName]
        ,[StackTrace]
        ,[Message]
        ,[Exception])
        VALUES
        (@CreateTime,
        @Logger,
        @Level,
        @MachineName,
        @AppDomain,
        @AssemblyVersion,
        @BaseDir,
        @CallSite,
        @CallSiteLineNumber,
        @Counter,
        @ProcessId,
        @ProcessName,
        @StackTrace,
        @Message,
        @Exception);
      </commandText>
      <parameter name="@CreateTime" layout="${date}"/>
      <parameter name="@Logger" layout="${logger}"/>
      <parameter name="@Level" layout="${level}"/>
      <parameter name="@MachineName" layout="${machinename}"/>
      <parameter name="@AppDomain" layout="${appdomain}"/>
      <parameter name="@AssemblyVersion" layout="${assembly-version}"/>
      <parameter name="@BaseDir" layout="${basedir}"/>
      <parameter name="@CallSite" layout="${callsite}"/>
      <parameter name="@CallSiteLineNumber" layout="${callsite-linenumber} "/>
      <parameter name="@Counter" layout="${counter}"/>
      <parameter name="@ProcessId" layout="${processid}"/>
      <parameter name="@ProcessName" layout="${processname}"/>
      <parameter name="@StackTrace" layout="${stacktrace}"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@Exception" layout="${exception}"/>
    </target>
    <!--添加一个新条目让日志输出到控制台中，并添加必要的输出布局（layout）-->
    <target name="console" xsi:type="Console" layout="${variable1}"/>
    <!--说明 xsi:type="Console"指定输出到控制台；layout指定输出文件内容的样式 ${longdate}是日期（具体到毫秒），${level}是日志的等级；${message}是具体要输出的内容。-->
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="E.UCenter.*" writeTo="file"/>
    <logger name="E.UCenter.*" writeTo="database" />
    <logger name="E.UCenter.*" writeTo="console"/>
    <logger name="*" minlevel="Warn" writeTo="console"/>
  </rules>
</nlog>